<div class="card-2 col-md-12">
    <h4 class="text-gold p-2">{{title}}</h4>
</div>
<div class="container">
<div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2>Feel feel contact me</h2>
      <p>
          Quickest way to get me is on 
          <a href="http://wa.me/7552202500">+44-7552202500</a> <br/>
          I'm usually available from Monday to Saturday, 9am until 9pm  <br/>but if I can't take your call, then leave me a message and I'll get back to you asap. <br/>Alternatively, you can email me: nandharam.naveen(at)gmail.com
      </p>
      <a href="assets/naveen_cv.pdf" class="d-non d-sm-none" target="_blank">
        <button class="btn btn-outline-warning">Download CV</button>  
      </a>

      <app-social-links></app-social-links>

      
    </div>
</div>
</div>