<div class="card-2 col-md-12">
        <h4 class="text-gold p-2">{{title}}</h4>
    </div>
    <div class="container">
    <div class="row mt-5">
        <div class="col-md-12 mb-4"  *ngFor="let data of projectsData">
        <div class="card-1 p-2">
          <h5 class="text-gold"><b>{{data.projectName}}</b> <small class="ml-2">{{data.company}}</small></h5>
          <small class="text-secondary"><i>{{data.role}}</i></small> <br/>
          <small>{{data.description}} <br/><b>{{data.techStack}}</b></small>
        </div>
      </div> 
    </div>
    </div>
    

